@{
    ViewData["Title"] = "Início";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Boas Vindas!</h1>
    </div>
    <a href="/Produto/Index/">Produtos</a><br>
    <a href="/Cliente/Index/">Clientes</a><br>
    <a href="/Venda/Index/">Vendas</a><br>
</div>
